<div id="header" markdown="1">

<div id="logo">
<img src="/static/images/windsorrockerroundel.svg" alt="Windsor Rocker" width="10%">
</div>

<div id="title-block">
<div class="title" id="title">Windsor Rocker</div>
<div class="tagline" id="tagline">Tradition Evolved</div>
</div>

<div id="translate">

</div>

<div id="menu" markdown="1">

[Shop](#markdown-header-shop)
        
[About](#markdown-header-about)
        
[Gallery](#markdown-header-gallery)
        
[Contact](#markdown-header-contact)
        

</div>

</div>
 
