<!-- - JS -->
<script src="/static/js/wr0100.js" type="text/javascript"></script>
<script src="https://images.cart-shed.com/static/js/canvas_view.min.js" type="text/javascript"></script>
<script src="https://images.cart-shed.com/static/js/gallery_view.min.js" type="text/javascript"></script>
<script type="text/javascript"     src="http://images.cart-shed.com/static/js/image-defer.min.js" defer></script>

<script type="text/javascript">
 QU.whenReady(function() {

     // Zoomer/gallery options and events
     var viewer_opts = { showcontrols: 'yes' };
     var gallery_opts = { viewer: viewer_opts };
     var events = {};

     // Init image zoomer/gallery
     if (document.getElementsByClassName('gallery_image').length > 1) {
         gallery_view_init_all_fullscreen('gallery_image', gallery_opts, events);
     }
     else {
         canvas_view_init_all_images('gallery_image', viewer_opts, events);
     }
 });
</script>
